/.settings/
*.project
*.classpath
*/classes/*
*.class
/jspwork/*
web/resources/cboardfiles/
web/WEB-INF/jspwork/
web/resources/jboardfiles/


web/resources/noticefiles/20200814153559.jpg
web/resources/noticefiles/20200814153623.jpg
web/resources/noticefiles/inquiryfiles/202008141533051.jpg
web/resources/noticefiles/inquiryfiles/202008141533053.jpg
